<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Admin Page</title>
    <style>
        .text-nav {
            color: white;
        }

        .text-bolder {
            font-weight: bold;
        }

        .myspace {
            white-space: pre;
        }

        .background {
            background-color: #f8f9fa;
        }

        .out {
            font-size: small;
            color: #8097a0;
        }


        .html {
            min-height: 94vh;
        }

        .gg {
            width: 100%;
        }


    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid  text-nav">
        <div class="collapse navbar-collapse"> </div>
        <a class="nav-link out" href="/logout">Logout</a>
    </div>
</nav>


<div class="d-flex align-items-start">
    <div class="nav col-md-2 nav-pills flex-column" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <br>
        <a class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home"
           type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Admin
        </a>

        <a class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile"
           type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">User
        </a>

    </div>
    <div class="tab-content gg" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab"
             tabindex="0">

            <div class="col background px-5 html">

                <br>
                <h1>Admin panel</h1>
                <br>
                <ul class="nav nav-tabs " id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab"
                           aria-controls="home" aria-selected="true">User table</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab"
                           aria-controls="profile" aria-selected="false">New User</a>
                    </li>
                </ul>
                <div class="tab-content " id="myTabContent">

                    <div class="tab-pane fade show active  " id="home" role="tabpanel"
                         aria-labelledby="home-tab">
                        <h3 class="card-header border">All users</h3>

                        <div class="card border-0">

                            <div class="card-body border">
                                <table class="table table-borderless table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>

                        </div>


                    </div>
                    <div class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="profile-tab">

                        <h3 class="card-header border">Add new user</h3>
                        <div class="card border">


                            <form id ="creater" align="center" method="POST" action="@{/admin}" object="${user}">
                                <br>
                                <div class="row justify-content-md-center">
                                    <div class="col-md-4" align="center">
                                        <label for="username" class="form-label text-bolder">Username</label>
                                        <input type="text" class="form-control" name="username"
                                               id="username"/>
                                    </div>
                                    <p></p>

                                    <div class="col-md-4 align-self-center">
                                        <label for="email" class="form-label text-bolder">Email</label>
                                        <input type="email" class="form-control" name="email" id="email"/>
                                    </div>
                                    <p></p>

                                    <div class="col-md-4" align="center">
                                        <label for="password" class="form-label text-bolder">Password</label>
                                        <input type="password" class="form-control" name="password"
                                               id="password"/>
                                    </div>
                                    <p></p>

                                    <div class="form-group col-md-4">
                                        <label for="editRoles" class="col-form-label text-bolder">Role</label>
                                        <select  multiple class="form-control" id="editRoles" size="2"
                                                 name="roles" >
                                        </select>
                                    </div>

                                </div>
                                <p></p>

                                <button type="submit" class="btn btn-success btn-lg" id="create-button">Add new user</button>

                            </form>
                            <p></p>
                        </div>


                    </div>

                </div>

            </div>
        </div>

        <div class="tab-pane fade background html" id="v-pills-profile" role="tabpanel"
             aria-labelledby="v-pills-profile-tab">

            <div class="col px-5">
                <br>
                <h1>User information page</h1>
                <br>

                <h3 class="card-header border">About user</h3>
                <div class="card">
                    <div class="card-body">
                        <table id="example" class="table table-borderless table-striped">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Username</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                            </tr>
                            </thead>

                            <tbody id="newSelect">

                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script src="../static/JS_Script.js"></script>

</body>
</html>