<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Spring Security Example</title>
    <style>
        .text-nav {
            color: white;
        }

        .text-bolder {
            font-weight: bold;
        }

        .myspace {
            white-space: pre;
        }

        .background {
            background-color: #f8f9fa;
        }

        .out {
            font-size: small;
            color: #8097a0;
        }

        .html {
            min-height: 94vh;
        }

        .gg {
            width: 100%;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid text-nav">
        <div class="collapse navbar-collapse">
            <div>
                <span class="nav-text text-bolder myspace" th:utext="(${admin.getEmail()})+ ' '">admin</span>
                <span class="nav-text myspace">with role:</span>
                <span th:each="role :${admin.getAuthorities()}">
                    <span class="nav-text myspace" th:utext="' ' + (${role.getName()})">role</span>
                </span>
            </div>
        </div>
        <a class="nav-link out" th:href="@{/logout}">Logout</a>
    </div>
</nav>

<div class="d-flex align-items-start">
    <div class="nav col-md-2 nav-pills flex-column" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <br>
        <a class="nav-link active" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile"
           type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">User</a>
    </div>

    <div class="tab-content gg" id="v-pills-tabContent">

        <div class="tab-pane fade background html show active" id="v-pills-profile" role="tabpanel"
             aria-labelledby="v-pills-profile-tab">

            <div class="col px-5">
                <br>
                <h1>User information page</h1>
                <br>

                <h3 class="card-header border">About user</h3>
                <div class="card">
                    <div class="card-body">
                        <table class="table table-borderless table-striped">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                            </tr>
                            </thead>
                            <tr>
                                <td th:utext="${admin.getId()}">ID</td>
                                <td th:utext="${admin.getUsername()}">Name</td>
                                <td th:utext="${admin.getEmail()}">Email</td>

                                <td>
                                    <span th:each="role :${admin.getRoles()}">
                                        <span th:utext="${role}">Roles</span>
                                    </span>
                                </td>

                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>
</html>